<div class="container">
    <nav>
        <ul>
            <li><a href="./"><img id="logoNav" src="../../img/logoAlmacen.png" alt="Almacen de Productos"></a></li>
        </ul>
        <ul>
            <li><a href="./" class="contrast">Home de Productos🛒</a></li>
            <li><a href="./realtimeproducts" class="contrast">Productos en Tiempo Real⌚</a></li>
        </ul>
    </nav>
    <hr />
    <h1 class="hProd">Home de Productos 🛒</h1>
    {{#if products}}
    <h2 class="hProd" id="h2Total">Total: {{products.length}}</h2>
    <div id="productsGrid">
        {{#each products}}
        <div class="product" id="product-{{id}}">
            <article class="articleProducto">
                <header>
                    <h3 class="hProd" id="title-{{id}}">{{title}}📦</h3>
                    <div class="productImages" id="images-{{id}}">
                        {{#if thumbnails}}
                        {{#each thumbnails}}
                        <img src="{{this}}" alt="Imagen del Producto {{title}}">
                        {{/each}}
                        {{else}}
                        <p>El producto aún no tiene imágenes</p>
                        {{/if}}
                    </div>
                </header>
                <p class="pProd" id="code-{{id}}"><u> Código:</u> {{code}}</p>
                <hr />
                <p class="pProd" id="description-{{id}}"><u>Descripción:</u> {{description}}</p>
                <hr />
                <p class="pProd" id="status-{{id}}"><u>Estado:</u> {{#if status}}Activo{{else}}Desactivado{{/if}}</p>
                <hr />
                <p class="pProd" id="status-{{id}}"><u>Stock:</u> {{stock}}</p>
                <hr />
                <p class="pProd" id="status-{{id}}"><u>Categoría:</u> {{category}}</p>
                <hr />
                <p class="pProd" id="status-{{id}}"><u>Precio:</u> ${{price}}</p>
            </article>
        </div>
        {{/each}}
    </div>
    {{else}}
    <h2>No hay productos para mostrar ⛔</h2>

    {{/if}}
</div>