<div class="container">
    <h1 class="hProd">Productos en TIEMPO REAL ⌚ </h1>
    {{#if products}}
    <h2 class="hProd" id="h2Total">Total: {{quantity}}</h2>
    <div id="productsGrid">
        <div class="addButtonDiv"><button id="addButton">➕</button></div>
        {{#each products}}
        <div class="product" id="product-{{id}}">
            <article class="articleProducto">
                <header>
                    <h3 class="hProd" id="title-{{id}}">{{title}}📦</h3>
                </header>
                <p class="pProd" id="code-{{id}}"><u> Código:</u> {{code}}</p>
                <hr />
                <p class="pProd" id="description-{{id}}"><u>Descripción:</u> {{description}}</p>
                <hr />
                <p class="pProd" id="status-{{id}}"><u>Estado:</u> {{#if status}}Activo{{else}}Desactivado{{/if}}</p>
                <hr />
                <p class="pProd" id="status-{{id}}"><u>Stock:</u> {{stock}}</p>
                <hr />
                <p class="pProd" id="status-{{id}}"><u>Categoría:</u> {{category}}</p>
                <hr />
                <p class="pProd" id="status-{{id}}"><u>Precio:</u> ${{price}}</p>
                <footer class="footerProduct">
                    {{#if status}}
                    <button class="statusProductButton" id="status-disable-{{id}}">Desact.🔒</button>
                    {{else}}
                    <button class="statusProductButton" id="status-enable-{{id}}">Activar🔓</button>
                    {{/if}}
                    <button class="deleteProductButton" id="delete-{{id}}">Borrar🗑</button>
                </footer>
            </article>
        </div>
        {{/each}}
    </div>
    {{else}}
    <h2>No hay productos para mostrar ⛔</h2>

    {{/if}}
</div>

<script src="/socket.io/socket.io.js"> </script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../js/realTimeProducts.js"> </script>